
[neopixel bedfront]
pin: PA9
initial_RED: 0.8
initial_GREEN: 0
initial_BLUE: 1
initial_WHITE: 0.0

[neopixel sb_leds]
pin: EBBCan:PD3
chain_count: 10
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW,  GRBW
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

# -------------------------------------------------------------


[gcode_macro _PROBING_DISPLAY]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=probing
  M117 Probing...
  SET_LED LED=bedfront RED=0 GREEN=0 BLUE=1
  SET_LED LED=btt_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=1 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0 BLUE=1 INDEX=2 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=3

[gcode_macro _HEATING_DISPLAY]
gcode:
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=heating
  SET_LED LED=bedfront RED=1 GREEN=0.5 BLUE=0
  SET_LED LED=btt_mini12864 RED=1 GREEN=0.5 BLUE=0 INDEX=1 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=1 GREEN=0.5 BLUE=0 INDEX=2 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=3
  
[gcode_macro _PRINTING_DISPLAY]
gcode:
  M117 Printing...
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=printing
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=1 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=2 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=3

[gcode_macro _READY_DISPLAY]
gcode:
  M117 Ready
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=ready
  SET_LED LED=btt_mini12864 RED=0.8 GREEN=0 BLUE=1 INDEX=1 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0.8 GREEN=0 BLUE=1 INDEX=2 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=3

##################
## logo effects ##
##################

# Polymaker Teal = #00b4bc
# RGB: 0, 180, 188

[led_effect ready]
autostart: true
frame_rate: 24
leds:
  neopixel:bedfront
  neopixel:sb_leds
layers:
  gradient 0.4 1 top (0,0.705882353,0.737254902),(0.25,0,1.0),(0.75,0,1.0)

[led_effect probing]
frame_rate: 24
leds:
  neopixel:bedfront
  neopixel:sb_leds (1,3,7,8,6,2)
layers:
  comet 0.3  0 top (0, 0.18, 1)

[led_effect heating]
frame_rate: 24
autostart: false
leds:
  neopixel:bedfront
  neopixel:sb_leds
layers:
  comet 0.3  0 add (1, 0.18, 0)

[led_effect printing]
frame_rate: 24
leds:
  neopixel:bedfront
  neopixel:sb_leds (1-8)
layers:
  # rainbow
  gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

# ---

[led_effect sb_logo_cooling]
leds:
    neopixel:sb_leds (1,3,7,8,6,2)
autostart:                          false
frame_rate:                         24
layers:
    comet  0.3  0 add (0, 0, 1)

[led_effect sb_logo_homing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.0, 0.6, 0.2)

[led_effect sb_logo_leveling]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.5, 0.1, 0.4)

[led_effect sb_logo_meshing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.2, 1.0, 0.0)

[led_effect sb_logo_printing]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect sb_logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.01, 0.01, 0.01)

[led_effect sb_logo_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (1-8)
layers:
        breathing  3 1 top (0.0, 1.0, 0.0)

####################
## nozzle effects ##
####################

[led_effect sb_nozzle_heating]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (1.0, 0.18, 0.0, 0.0)

[led_effect sb_nozzle_cooling]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.0, 0.0, 1.0, 0.1)

[led_effect sb_nozzle_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.6, 0.0, 0.0, 0.0)

[led_effect sb_nozzle_part_ready]
autostart:              false
frame_rate:             24
leds:
    neopixel:sb_leds (9,10)
layers:
        breathing  3 1 top (0.6, 1.0, 0.0, 0.1)


#####################
## all led effects ##
#####################

[led_effect sb_critical_error]
leds:
    neopixel:sb_leds
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
autostart:                             false
frame_rate:                            24
run_on_error:                          true


#######################
# LED Effects Statics #
#######################

[led_effect set_nozzle_leds]
leds:
    neopixel:sb_leds (9,10)
   #neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (0.0,  0.0, 0.0, 1.0)

[led_effect set_logo_leds]
leds:
    neopixel:sb_leds (1,2,3,4,5,6,7,8)
   #neopixel:caselight
autostart:                          false
frame_rate:                         24
layers:
    static         0  0     top        (1.0,  1.0, 1.0)