#[output_pin chassislight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PB5
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

[neopixel bedfront]
pin: PA9
initial_RED: 0.8
initial_GREEN: 0
initial_BLUE: 1
initial_WHITE: 0.0

# Polymaker Teal = #00b4bc
# RGB: 0, 180, 188