#[output_pin chassislight]
# Chamber Lighting - HE1 Connector (Optional)
#pin: PB5
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

[neopixel bedfront]
pin: PA9
chain_count: 1
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
initial_WHITE: 0.0
color_order: RGBW
