[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2B0050000E504B4633373520-if00

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor Pi]
sensor_type: temperature_host

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5

[display]
# BTT mini12864 LCD Display
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel btt_mini12864]
# Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0
initial_GREEN: 0.70588
initial_BLUE: 0.72725
color_order: RGB

# BTT Mini12864 Neopixel Index:
# 1 = pointer/index
# 2 = knob
# 3 = display

# Set RGB values on boot up for each Neopixel. 
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
  SET_LED LED=btt_mini12864 RED=0.8 GREEN=0 BLUE=1 INDEX=1 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0.8 GREEN=0 BLUE=1 INDEX=2 TRANSMIT=0
  SET_LED LED=btt_mini12864 RED=0 GREEN=0.705882353 BLUE=0.737254902 INDEX=3 

[output_pin beeper]
pin: EXP1_1
value: 0
shutdown_value: 0
pwm: True
cycle_time: 0.0005 ; Default beeper tone in kHz. 1 / 0.0005 = 2000Hz (2kHz)

[fan_generic nevermore]
pin: PE6

[fan_generic exhaust]
pin: PE0

[fan_generic bed]
pin: PC12

[temperature_sensor lower_chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA1

[temperature_sensor upper_chamber]
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA2
